@page "/shelters"

@using shelterminiproj.Shared;


@inject HttpClient Http

<h1>Shelters</h1>

<ul>
    @foreach (var shelter in shelterlist)
            {
                <li>@shelter.Name</li>
            }

</ul>

@code {
    private ShelterClass[] shelterlist = Array.Empty<ShelterClass>();

    protected override async Task OnInitializedAsync()
    {
        shelterlist = await Http.GetFromJsonAsync<ShelterClass[]>("Shelter");
     
        
    }

}
